@import "compass";
@import "theme_variables";

/********************************************************************
					Compare Page Styles
********************************************************************/
table#product_comparison {
	tbody {
		tr {
			td.product-block {
				vertical-align: top;	
			}
			td.td_empty, 
			td.feature-name, 
			&.comparison_header {
				background: $table-background;
				color: $base-text-color;
			}
			td.comparison_infos { 
				div.center {
					margin: 0 auto;
					width: 80px;
				}
			}
			td.td_empty {
				vertical-align: bottom;
				> span {
				}	
			}
		}
	}
	.cmp_remove {
		margin-top: 5px; 
	}
	.product-image-block {
		display: inline-block;
		position: relative;
		.product_image {
			border: 1px solid $base-border-color;
			display: inline-block;
			margin: 0 0 8px 0;
			img {
				width: 100%;
			}
		}
	}
	.prices-container {
		padding: 0 0 8px 0;	
	}
	.comparison_availability_statut {
		display: none;
		font-weight: 700;
		color: #060;
	}
	.product_discount {
		padding-top: 8px;
	}
	.product_desc {
		padding: 0 0 1em;	
	}
	.comparison_unit_price {
		font-size: 17px;
		font-family: $font-custom;
		color: $product-price-color;
		font-style: italic;	
	}
	.product-rating {
	}

	.comparison_feature{
		.product_name{
			display: none;
		}
	}
}


.footer_link {
	margin: 0 0 20px 0;
}

#stOCClose {
	width: 29px !important;
	height: 29px !important;	
}
.stButton .stFb, 
.stButton .stTwbutton, 
.stButton .stMainServices,
.stButton .stButton_gradient {
	height: 22px !important;
}

.share {
	strong {
		display: block;
		margin-bottom: 10px;	
	}

	> div{
		margin-bottom: 8px;
	}
	@media (min-width: $screen-lg) { // min 1200px
		position: relative;
		top: -350px;		
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		position: relative;
		top: -260px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		position: relative;
		top: -245px;
	}
}

.stArrow {
	display: none !important;	
}

/***** IE code ****/

.ie8 table#product_comparison .product-image-block .product_image img {
	width: auto;
}

/**** responsive code ******/
