/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?49216886');
  src: url('../font/fontello.eot?49216886#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?49216886') format('woff2'),
       url('../font/fontello.woff?49216886') format('woff'),
       url('../font/fontello.ttf?49216886') format('truetype'),
       url('../font/fontello.svg?49216886#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
